@import "compass/css3";

/* ===================== BASIC STYLING ===================== */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --mint-green : #a2c1b3;
  --white: #fff;
  --light: #E8F5E9;
  --dark: #283847; 
  --ko7ly: #112233;
  --lighter-blue: #2d5173;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  height: 100vh;
  background-color: var(--white);
  color: var(--ko7ly);
  font-size: 16px;
}

.div
{
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
  text-align: center;
  margin: 50px auto;
  font-weight: 300;
  
}

label {
  font-weight: 600;
  display: block;
  margin: 4px 0;
  text-transform: uppercase;
  font-size: 13px;
  overflow: hidden;
  /* margin-top: 100px;
  margin-bottom: -50px; */
  
  
}
span {
    float: right;
    text-transform: none;
    font-weight: 200;
    line-height: 1em;
    font-style: italic;
    opacity: 0.8;
  }
.form-controll {
  display: block;
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
  background-color: #a2c1b333;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 8px;
  color: var(--ko7ly);
  font-weight: 200;
  
  &:focus {
    outline: 2px solid rgba(255,255,255,0.5);
  }
}

button {
    background: var(--dark);
    padding: 5px;
    color: var(--white);
    border: none;
    width: 140px;
    height: 50px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.form-group {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}



a:hover
{
    text-decoration: none;
    color: var(--white);
}