:root {
  /* --primary: #112233  ; */
  --mint-green : #a2c1b3;
  --white: #fff;
  --light: #E8F5E9;
  --dark: #283847; 
  --ko7ly: #112233;
  --lighter-blue: #2d5173;
}

.nav-link
	{
		font-weight: 200;
		font-size: larger;
	}

.profile-head {
  transform: translateY(5rem)
}

.cover {
  width: 100%;
  height: 210px;
  background: linear-gradient(to right, #a2c1b3, #5f475b);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-color: var(--white)  !important;
  min-height: 100vh;
  overflow-x: hidden !important;
}

.name
{
  text-transform: capitalize;
  margin-bottom: 60px !important;
  color: var(--ko7ly);
  font-weight: bold;
  margin-top: 10px !important;
}

a{
  text-decoration: none !important;
  /* color: var(--white) !important; */
}

.cards
{
  background-color: var(--white) !important;
  border-color: #5f475b !important;
  border-width: 4px;
  border-style: groove;
  border-radius: 20px !important;
  width: 950px;
  margin-left: -190px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  flex-wrap: wrap;
}

.txt
{
  color: var(--ko7ly) !important;
}

.btn 
{
  background-color: var(--dark);
  margin-top: 80px;
  margin-left: 10px;
  border-style: groove;
  border-color: #5f475b var(--mint-green) !important;
  border-width: 4px;
  color: var(--white);
}

.btn:hover
{
  background-color: var(--ko7ly); 
  /* padding: 5px; */
}

.img-fluid
{
height: 300px;
width: 100%;
}